{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<div class="row" style="background-image: url({% static 'images/teddy.jpg' %}); height: 1000px; max-width: 100%; ">
  <div class="col-md-6 offset-md-3" style="margin-top: 60px;"> 
    <div style="box-shadow:6px 3px 3px #000; padding:50px; border:1px solid #aaa; border-radius:20px; height: 350px;" > 

<h2 align="center" style="color: white" > Sign in</h2>

<form method="post" style="color: white; font-size: 20px"> 
{% csrf_token  %}
{{form.as_p}}
<input type="submit" class="btn btn-success" style="float: right; font-size:25px; font-weight: solid; " name="submit" value="login">
</form>
   </div>
  </div>
</div>
{% endblock%}

